                    <div class="slider-container slider-container-fullscreen hidden-xs">
                        <div class="slider" id="revolutionSliderFullScreen">
                            <ul>
                                <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                                    <img src="img/slides/slide-bg-full.jpg" data-fullwidthcentering="on" alt="">



                                </li>
                            </ul>
                        </div>
                    </div>
