			<footer class="short" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h4>WebHosting.coop Foundation</h4>
							<p>Free Website Classes provided by WebHosting.coop Foudation, a 501c3 non-profit organization</p>
							<hr class="light">
						</div>
						<div class="col-md-3 col-md-offset-1" id=contact>
                            <h5 class="short">Contact Us</h5>
							<span class="phone">(855) 512-2667</span>
							<ul class="list icons list-unstyled">
								<li><i class="icon icon-envelope"></i> <a href="mailto:contact@webhosting.coop">contact@webhosting.coop</a></li>
							</ul>
							<div class="social-icons">
								<ul class="social-icons">
                  <li class="googleplus"><a href="https://plus.google.com/109270399400052021402" rel="publisher">Google+</a></li>
									<li class="facebook"><a href="http://www.facebook.com/webhostingcoop" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="http://www.twitter.com/webhostingcoop" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/webhostingcoop" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="AKMBTFYS2T5N4">
                                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                    </form>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							
							<div class="col-md-11">
								<p>© Copyright 2013 by WebHosting.coop Foundation. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
